
## Grav ##
/src/cache/
/src/user/config/versions.yaml
/src/user/config/security.yaml
/src/user/data/licenses.yaml
/src/user/plugins/devtools/

## Node ##
node_modules/

## NetBeans ##
nbproject/private/

## misc ##
*.bak
*.log
