{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <article class="col">
            {{ page.content|raw }}
        </article>
    </div>
{% endblock %}
