
/* Color Scheme */
:root {
    --primary-color: #1c0c5b;
    --secondary-color: #3d2c8d;
    --tertiary-color: #9c5ee8;
}

@font-face {
    font-family: SketchyFont;
    src: url("/user/themes/opensbpm/fonts/Acme-Regular.ttf");
}

/*
@font-face {
    font-family: SketchyFont;
    src: url("/user/themes/opensbpm/fonts/KOMTXTB_.ttf");
    font-weight: bold;
}
*/

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: SketchyFont;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column;

    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;

    background-image: url("/user/themes/opensbpm/images/background.svg");
}

body > main {
    flex: 1;
}

/* 
 * Header Settings 
 */
header {
    /*TODO
    position: sticky;
    top: 0;
    */

    padding-top: 5%;

    color: var(--primary-color);
}

/* div with logo */
#logo {
    float: left;
    padding-left: 10%;

    font-size: 1.7rem;
}

/* logo image */
#logo img {
    height: 100px;
}

/* logo title */
#logo span{
    font-weight: bold;

    background: linear-gradient(100deg, #1C0C5B 10%, #9C5EE8 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/* 
 * Header Menu Settings 
 */
header nav {
    display: inline-block;

    padding-left: 10%;

    font-size: 1.5rem;
    font-weight: bold;

}

header nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

header nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    padding: 10px 20px;
    white-space: nowrap;
}

/* Selected nav item */
header nav ul li.selected > a {
    background-color: var(--primary-color);
    color: #fff;

    border-radius: 40px;
}

/* nav item hover */
header nav ul li:hover > a {
    border-radius: 40px;

    background: rgba(28, 12, 91, 0.85);
    color: #fff;
}


/* 
 * Content Settings 
 */
article {
    height: 100%;

    margin: 0 auto;
    padding-top: 50px;

    max-width: 80ch;

    /* margin must match fixed footer-nav size*/
    /*margin-bottom: 50px;*/
}


/* 
 * Typographic Settings 
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;

    hyphens: auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #c996cc;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* frontpage images */
.fullwidth {
    width: 100%;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
header .padding {
    padding: 1rem 0;
}


/* 
 * Footer Settings 
 */

footer {
    /*
    position: fixed;
    bottom: 0;
    */

    width: 100%;

    background-color: #eee;
}

/* 
 * Footer Navigation Settings 
 */

footer nav {

    padding: 20px;
    width: 100%;

    background-color: #eee;
}

footer nav ul {
    margin: 0;
    padding: 0;

}

footer nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

footer div {
    font-size: 0.75rem;
}