
/* Color Scheme */
:root {
  --primary-color: #1c0c5b;
  --secondary-color: #3d2c8d;
  --tertiary-color: #9c5ee8;
}


/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;

    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
}


/* 
 * Header Settings 
 */

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header a {
    display: block;
    color: #fff;
}

header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

header img {
    height: 50px;
}


/* 
 * Menu Settings 
 */

.main-nav {
    background-color: var(--secondary-color);
    color: #c996cc;
}

.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #c996cc;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: var(--tertiary-color);
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: var(--tertiary-color);
    color: #c996cc;

    border-top-right-radius: 20px; 
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #3d2c8d;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}


/* 
 * Content Settings 
 */
article {
    margin: 0 auto;
    max-width: 80ch;
    
    /* padding must match fixed footer-nav size*/
    padding-bottom: 30px;
}


/* 
 * Typographic Settings 
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;

    hyphens: auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #c996cc;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* frontpage images */
.fullwidth {
    width: 100%;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
header .padding {
    padding: 1rem 0;
}


/* 
 * Footer Settings 
 */

footer {
    position: fixed; 
    bottom: 0 ;

    width: 100%;

    background-color: #eee;
}

/* 
 * Footer Navigation Settings 
 */

footer nav {

    padding: 20px;
    width: 100%;

    background-color: #eee;
}

footer nav ul {
    margin: 0;
    padding: 0;

}

footer nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

