

#frontpage{
    padding-top: 100px;    
    padding-bottom: 100px;    

    font-size: xxx-large;
}

#subjectoriented {
    display: inline-block;
    position: relative;

    left: -50px;
    top: 46px;

    padding-bottom: 20px;

    color: #9C5EE8;
    font-size: 0.6em;    
    transform: rotate(-15deg);   
}

#workflow {
    /*padding-left: 40px;*/
}

/* caroussel div */
.caroussel div{
    position: absolute;

    opacity: 0;
    animation: text-caroussel 16s infinite;
}

.caroussel .check{
    margin-left: 90%;
}


.caroussel div:nth-child(1){
    color: #1c0c5b;
    animation-delay: 0s;
}

.caroussel div:nth-child(2){
    color: #3d2c8d;
    animation-delay: 4s;
}

.caroussel div:nth-child(3){
    color: #9c5ee8;
    animation-delay: 8s;
}

.caroussel div:nth-child(4){
    color: #c996cc;
    animation-delay: 12s;
}

/* text-caroussel animation code */
@keyframes text-caroussel {
    0%  {opacity:0;}
    15% {opacity:1;}
    26% {opacity:0;}
}

article a {
    display: inline-block;
    margin-top: 40px;
    padding: 26px 46px;
    border-radius: 900px;   
    
    background-color: var(--primary-color);
    color: #fff;

    font-weight: bold;
}